/*Made with ♥ by Ross*/

html {
	font-size: 30px;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #222;
	color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 1vh;
	bottom: 0;
}

.body-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0 5vw 0 5vw;
}

.avatar-wrapper {
	text-align: center;
}

.avatar {
	height: 20vh;
	width: 20vh;
	border-radius: 5%;
}

.links {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.link {
	margin: 10px;
	flex: 1 0 calc(33% - 20px);
}

.link a {
	background-color: #333;
	padding: 0.5em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.link a:hover {
	background-color: #555;
}

.link img {
	height: 1.75em;
	width: 1.75em;
	margin: 0 0.5em 0 0.1em;
}

a {
	color: #ddd;
}

a:visited {
	color: #ccc;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.header span {
	padding-top: 0.5vh;
	display: block;
	font-size: 0.5em;
	color: #999;
}

.email-icon {
	font-size: 1.3em;
	display: inline-block;
}

.email {
	padding-left: 1vw;
	text-decoration: underline;
	display: inline-block;
}

.email-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding-bottom: 5vh;
}

.email-wrapper > a {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.email-wrapper :any-link {
	text-decoration: none;
}

@media only screen and (min-width: 1px) and (max-width: 375px) {
	html {
		font-size: 18px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 390px) {
	html {
		font-size: 20px;
	}
}

@media only screen and (min-width: 391px) and (max-width: 430px) {
	html {
		font-size: 21px;
	}
}

@media only screen and (min-width: 431px) and (max-width: 767px) {
	html {
		font-size: 22px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 24px;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
	html {
		font-size: 30px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
	html {
		font-size: 18px;
	}

	body {
		top: 0;
	}

	.body-wrapper {
		justify-content: space-around;
	}

	.avatar {
		display: inline-block;
	}

	.avatar-wrapper h2 {
		display: inline-block;
		justify-content: center;
		padding-bottom: 3vh;
		margin: 0;
	}

	.avatar-wrapper p {
		margin: 5px;
	}

	.avatar-wrapper img {
		height: 15vh;
		width: 15vh;
		padding-left: 3vw;
		padding-top: 3vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
	html {
		font-size: 24px;
	}

	.avatar {
		display: inline-block;
		height: 15vh;
		width: 15vh;
		padding-left: 3vw;
		padding-top: 3vh;
	}

	.avatar-wrapper h2 {
		display: inline-block;
		justify-content: center;
		padding-bottom: 3vh;
		margin: 0;
	}

	.avatar-wrapper p {
		margin: 5px;
	}

	.email-wrapper {
		padding-bottom: 0;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1024px) and (orientation: landscape) {
	html {
		font-size: 30px;
	}

	.avatar {
		display: inline-block;
		height: 15vh;
		width: 15vh;
		padding-left: 3vw;
		padding-top: 3vh;
	}

	.avatar-wrapper h2 {
		display: inline-block;
		justify-content: center;
		padding-bottom: 3vh;
		margin: 0;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1368px) and (orientation: landscape) {
	html {
		font-size: 30px;
	}

	.avatar {
		display: inline-block;
		height: 15vh;
		width: 15vh;
		padding-left: 3vw;
		padding-top: 3vh;
	}

	.avatar-wrapper h2 {
		display: inline-block;
		justify-content: center;
		padding-bottom: 3vh;
		margin: 0;
	}
}
