html {
	font-size: 24px;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 3vh;
	background-color: #222;
	color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 0 15vw;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.avatar-wrapper {
	text-align: center;
	margin-top: -4vh;
}

.avatar-wrapper-landscape {
	display: none;
}

.avatar {
	height: 15vh;
	border-radius: 5%;
}

.links-wrapper {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.links {
	padding-left: 2vw;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

ul li {
	margin-top: 1.5vh;
	max-width: fit-content;
}

.link a {
	background-color: #444;
	padding: 0.5em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.link a:hover {
	background-color: #555;
}

.link img {
	height: 1.75em;
	width: 1.75em;
	margin: 0 0.5em 0 0.1em;
}

#recordsSpacer {
	visibility: hidden !important;
}

a {
	color: #ddd;
}

a:visited {
	color: #ccc;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 1.5vh;
}

.header span {
	padding-top: 0.5vh;
	display: block;
	font-size: 0.5em;
	color: #999;
}

.email-icon {
	font-size: 1.3em;
	display: inline-block;
}

.email {
	padding-left: 1vw;
	text-decoration: underline;
	display: inline-block;
}

.email-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.email-wrapper > a {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.email-wrapper :any-link {
	text-decoration: none;
}

@media only screen and (min-width: 1px) and (max-width: 319px) {
	html {
		font-size: 12px;
	}

	body {
		top: 4vh;
	}

	.body-wrapper {
		display: block;
		height: initial;
		top: initial;
		bottom: initial;
	}

	.links-wrapper {
		flex-flow: column nowrap;
	}

	#recordsSpacer {
		display: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	html {
		font-size: 13px;
	}

	body {
		top: 0;
	}

	.body-wrapper {
		display: block;
		height: initial;
		top: initial;
		bottom: initial;
		padding: 0;
	}

	.avatar-wrapper {
		margin-top: 1vh;
	}

	.links-wrapper {
		margin-bottom: 3vh;
		flex-flow: column nowrap;
	}

	#recordsSpacer {
		display: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) and (orientation: landscape) {
	.links-wrapper {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.links-wrapper > .links:first-child {
		margin-right: 3vw;
	}

	.header {
		margin-bottom: 3vh;
	}

	.avatar {
		height: 25vh;
	}

	.avatar-wrapper {
		display: none;
	}

	.avatar-wrapper-landscape {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	.avatar-wrapper-landscape img {
		margin-top: 5vh;
	}

	.text-wrapper > * {
		margin: 1.5vh;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	html {
		font-size: 16px;
	}

	.body-wrapper {
		display: block;
		height: initial;
		top: initial;
		bottom: initial;
		padding: initial;
	}

	.avatar-wrapper {
		margin-top: 1vh;
	}

	.links-wrapper {
		flex-flow: column;
		margin-bottom: 3vh;
	}

	#recordsSpacer {
		display: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
	.links-wrapper {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.header {
		margin-bottom: 3vh;
	}

	.avatar {
		height: 30vh;
	}

	.avatar-wrapper {
		display: none;
	}

	.avatar-wrapper-landscape {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	.avatar-wrapper-landscape img {
		margin-top: 5vh;
	}

	.text-wrapper > * {
		margin: 2vh;
	}

	#recordsSpacer {
		display: initial;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 20px;
	}

	.body-wrapper {
		display: block;
		height: initial;
		top: initial;
		bottom: initial;
		padding: 0;
	}

	.avatar-wrapper {
		margin-top: 1vh;
	}

	.links-wrapper {
		margin-bottom: 3vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
	.links-wrapper {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.header {
		margin-bottom: 3vh;
	}

	.avatar {
		height: 35vh;
	}

	.avatar-wrapper {
		display: none;
	}

	.avatar-wrapper-landscape {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	.avatar-wrapper-landscape img {
		margin-top: 5vh;
	}

	.text-wrapper > * {
		margin: 2vh;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
	html {
		font-size: 20px;
	}

	.body-wrapper {
		display: block;
		height: initial;
		top: initial;
		bottom: initial;
	}

	.avatar-wrapper {
		margin-top: 1vh;
	}

	.links-wrapper {
		margin-bottom: 3vh;
	}
}
